.topSection {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-left: 2%;
}

#form {
    float: left;
    width: 42.5%;
    line-height: 1.5;
    vertical-align: middle;
}

#backImage {
    height: 300%;
    width: 50px;
}

.backButton {
    border: none;
    width: 6%;
    background-color: inherit;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 100%;
    height: 100%;
}

#details
{
    text-align: center;
    width:30%;
    padding:20px;
    padding-top: 3%;
    background-color: rgba(77, 77, 79, .4);
    border:3px solid black;
}