
/*#logo
{
    margin:auto;
    /*width:50%;*/
    /*text-align: center;
}*/

.frontPage
{
    /*the top code alligns the div vertically and the bottom does it horizontally*/
    
    /*display: flex;*/
    /*margin:auto;*/
    /*width:50%;*/
    justify-content: center;
    align-items: center;
    height: 80%;
    position:absolute;
    top:50%;
    margin-top:-20%;

    /*border: 0.05em solid red;*/
    width:99%;
    /*display: flex;*/
    /*justify-content: center;*/
    
}

#logo, #slogan, #bottomButtons
{
    display: block;
    padding: 20px;
    text-align: center;
}

.logo
{
    height:10%;
    width:10%;
}

#slogan
{
    margin-top: 3%;
    font-family: 'Great Vibes', cursive;
    font-size:larger;
}

#bottomButtons
{
    padding-right: 9%;
    margin: auto;
    margin-top: 7%;
    /*border: 3px solid green;*/
    display: flex;
    justify-content: center;
    /*gap: 10px;*/
    justify-content: space-between;
    max-width: 50%;
}

.button
{
    width: 300%;
    height: 200%;
}
