.incomePage
{
    display: flex;
    padding-top: 1%;
    gap:17%;
}

#filterForm {
    display: flex;
    flex-wrap: wrap;
    width: 120%;
    gap: 2%;
    margin-bottom: 2%;
    padding:1%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

#filterForm select {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #1e1e1e;
    color: white;
}

#filterForm .button {
    padding: 7px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#filterForm .button:hover {
    background-color: #7d0000;
}

table {
    width: 120%;
    border-collapse: collapse;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
}

table thead th {
    background-color: rgba(0, 123, 255, 0.5);
    text-align: left;
    padding: 2%;
}

table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); 
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

table td {
    padding: 2%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

table .button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table .button:hover {
    background-color: #b02a37;
}
