.navBar
{
    background-color: black;
    overflow:hidden;
}

.navBar a
{
    float: left;
    color: white;
    padding: 1% 6%;
    text-decoration: none; /*this removes the underline of the hyperlinks*/
    font-size: 17px;
}

.navBar a:hover {
    background-color: grey;
    color: black; /*modifies colour of text when hoverings*/
}

.navBar a.active {
    background-color: rgba(27, 75, 68);
    color: white;
    font-weight: bold;
}

.manageButton
{
    float:right;
    background-color:rgba(11, 64, 71);
    color: white;
    border: none;
    padding: 1%;
    transition-duration: 0.2s;
    font-size: 17px;
    width:18%;
}

.manageButton:hover
{
    background-color: grey;
    color:black;
}

.buttonIcon {
    width: 7%; 
    height: 7%; 
    margin-right: 4%; 
    vertical-align: middle;
}

.navForm
{
    padding-right: 2%; /*move button from the right edge*/
}